<h1>Edit Message</h1>

<form class="" action="/messages/<%= @message.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label>Receiver</label><br>
  <p><%= @message.friend.username %></p>
  <label>Content</label><br><br>
  <textarea name="message[content]" rows="4" cols="80" value = ""><%= @message.content %></textarea><br><br>
  <input type="submit" name="" value="Send">
</form>
