<div class="ui top fixed inverted menu">
  <a class="item" href="/users/current_user"><h3>
    The Message Book</h3>
  </a>
  <a class="item active" href="/messages/messages">
    Messages
  </a>
  <a class="item" href="/users/friends">
    Friends
  </a>
  <a class="item" href="/logout">
    Log out
  </a>
</div>



<div class="ui grid">
  <div class="two wide column"></div>
    <div class="nine wide column">
      <h1 class="main-title">Edit Message</h1>
      <form role="form" action="/messages/<%= @message.id %>" method="post">
      <input id="hidden" type="hidden" name="_method" value="patch">
        <h3 class="ui header">
          Receiver
          <div class="sub header"><%= @message.friend.username %></div>
        </h3>
        <h3 class="ui header">
          Content
        </h3>
        <textarea name="message[content]" class="form-control" rows="3"><%= @message.content %></textarea>
        <br>
        <button type="submit" class="ui small teal button">Send</button>
        <a href="/messages/<%= @message.id %>" class="ui small grey button" role="button">Cancel</a>
      </form>
    </div>
  </div>
</div>

