<h1>Hi, <%= current_user.username %></h1>

<h2>Your Messages</h2><br>
<% current_user.messages.each do |message| %>
<table>
  <tr>
    <td><%= message.friend.username %></td>
    <td><a href="/messages/<%= message.id %>">View</a></td>
  </tr>
</table>
<% end %>
<br>
<a class="button" href="/users/current_user">Homepage</a>
