<h1>Send Message</h1>

<form class="" action="/messages/send_message" method="post">
  <label>Receiver</label><br>
  <select name="message[friend_id]">
    <% current_user.friends.each do |friend| %>
    <option value="<%= friend.id %>"><%= friend.username %></option>
    <% end %>
  </select><br>
  <!-- <input type="text" name="message[friend_id]" value=""> -->
  <label>Content</label><br>
  <textarea name="message[content]" rows="4" cols="80"></textarea>
  <input type="submit" name="" value="Send">
</form>
