
<h1 class="text-center main-title">Send Message</h1>

<% if current_user.friends.count == 0 %>
<h4 class="text-center alert alert-warning" role="alert">You are not connecting to any users. Please make friends to start.</h4>
<a class="button" href="/users/current_user">Homepage</a>
<% else %>

<br>
<form role="form" action="/messages/send_message" method="post">
  <!-- <div class="form-group"> -->
  <label for="receiver">Receiver</label>
  <select name="message[friend_id]" class="form-control" id="receiver">
    <% current_user.friends.each do |friend| %>
    <option value="<%= friend.id %>"><%= friend.username %></option>
    <% end %>
  </select><br>
  <br>
  <label for="content">Content</label>
  <textarea name="message[content]" class="form-control" rows="3"></textarea>
  <br>
  <button type="submit" class="btn btn-info">Send</button>
  <br><br>
  <a class="button" href="/users/current_user">Go back</a>
</form>

<% end %>
