
<h1 class="main-title">Send Message</h1>
<br>
<form role="form" action="/messages/send_message" method="post">
  <!-- <div class="form-group"> -->
  <label for="receiver">Receiver</label>
  <select name="message[friend_id]" class="form-control" id="receiver">
    <% current_user.friends.each do |friend| %>
    <option value="<%= friend.id %>"><%= friend.username %></option>
    <% end %>
  </select><br>
  <br>
  <label for="content">Content</label>
  <input name="message[content]" type="text" class="form-control" id="content" >
  <textarea name="message[content]" class="form-control" rows="3"></textarea>
  <br>
  <button type="submit" class="btn btn-info">Send</button>
</form>
