@import url(http://fonts.googleapis.com/css?family=Clicker+Script);
@import url(http://fonts.googleapis.com/css?family=Elsie+Swash+Caps:400,900);

/* .main-title {
   font-family: 'Elsie Swash Caps', cursive;
  font-family: 'Open Sans', sans-serif;
}
*/
/* body div.container{
  height: 100%;
  background: #eee;
} */

div#starter-template {
  padding-top: 70px;
}

body div.container .main_title{
  font-family: 'Elsie Swash Caps', cursive;
  font-size: 4em;
  /* font-family: 'Open Sans', sans-serif; */
}

div#starter-template div.app-body {
  display: table;
  height: 100%;
  width: 100%;
}

div#starter-template div.app-body #form-login {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}