<h3 class="main-title">The Message Book!</h1><br><br>
<form class="" action="/signup" method="post">
  <label>Username: </label>
  <input type="text" name="user[username]" required><br>
  <label>Email:</label>
  <input type="text" name="user[email]" required><br>
  <label>Password:</label>
  <input type="password" name="user[password]" required><br>
  <input type="submit" name="" value="Create New Account">
</form>
