<% if flash.has?(:notice) %>
  <h4 class="alert alert-success" role="alert"><%= flash[:notice]%></h4>
<% end %>

<h1 class="text-center">Hi, <%= current_user.username %></h1>
<br><br>


<div class="ui middle aligned animated list">
  <div class="item">
    <i class="envelope icon"></i>
    <div class="content">
      <a class="header" href="/messages/messages">My Messages</a>
    </div>
  </div>
  <div class="item">
    <i class="users icon"></i>
    <div class="content">
      <a class="header" href="/users/friends">Friends List</a>
    </div>
  </div>
  <div class="item">
    <i class="handshake outline icon"></i>
    <div class="content">
      <a class="header" href="/users/new_friend">Add Friend</a>
    </div>
  </div>
  <div class="item">
    <i class="edit icon"></i>
    <div class="content">
      <a class="header" href="/messages/new_message">Send Message</a>
    </div>
  </div>
</div>

