<% if flash.has?(:notice) %>
  <h4 class="alert alert-success" role="alert"><%= flash[:notice]%></h4>
<% end %>

<h1 class="text-center">Hi, <%= current_user.username %></h1>
<br><br>


<a class="center-block btn btn-info btn-sm" role="button" href="/messages/messages">View All Messages</a></td><br>
<a class="center-block btn btn-success btn-sm" role="button" href="/users/friends">View All Friends</a></td><br>
<a class="center-block btn btn-warning btn-sm" role="button" href="/users/new_friend">Make New Friend</a></td><br>
<a class="center-block btn btn-success btn-sm" role="button" href="/messages/new_message">Send Message</a></td><br>
<a class="center-block btn btn-info btn-sm" role="button" href="/logout">Log Out</a></td><br>
