<% if flash.has?(:notice) %>
<h4 class="alert alert-success" role="alert"><%= flash[:notice]%></h4>
<% end %>

<h1 class="main-title">Friend List</h1>
<button type="button" class="btn btn-default btn-sm"><a href="/users/current_user">Homepage</a></button>
<br><br>
<% current_user.friends.each do |friend| %>
<div class="container">
<div class="row">
  <div class="col-md-4">
    <h3><%= friend.username %></h3>
    <h4><%= friend.email %></h4>
    <!-- <h4 class="button"><a href="/messages/new_message">New Message</a></h4> -->
    <button type="button" class="btn btn-link btn-sm"><a href="/messages/new_message">New Message</a></button>
    <form class="" action="/users/<%= friend.id %>" method="post">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <!-- <input type="submit" name="" value="Unfriend"> -->
      <button type="submit" class="btn btn-link btn-sm">Unfriend</button>
    </form>
  </div>
</div>
</div>
<% end %>
