
<h3 class="main-title">The Message Book!</h1><br><br>
<form class="" action="/login" method="post">
  <label>Email:</label>
  <input type="text" name="user[email]" value=""><br>
  <label>Password:</label>
  <input type="password" name="user[password]" value=""><br>
  <input type="submit" name="" value="Log In">
</form>
<br><br>
<% if flash.has?(:error) %>
  <%= flash[:error] %>
<% end %>
