
<div class="ui top fixed inverted menu">
  <a class="item" href="/users/current_user"><h3>
    The Message Book</h3>
  </a>
  <a class="item" href="/messages/messages">
    Messages
  </a>
  <a class="item active" href="/users/friends">
    Friends
  </a>
  <a class="item" href="/logout">
    Log out
  </a>
</div>

<div class="ui grid">
  <div class="two wide column"></div>
    <div class="eight wide column">
      <h2 class="main-title">Who would you like to connect?</h2>
      <br>
      <% list = User.all.select { |m| m != current_user && !current_user.friends.include?(m) } %>
      <div class="checkbox">
        <form class="" action="/users/create_friends" method="post">
          <% list.each do |user| %>
          <input type="checkbox" name="friends[]" value="<%= user.id %>"><%= user.username %><br>
          <% end %>
        <br><br>
        <button type="submit" class="ui small teal button">Connect</button>
        <a href="/users/current_user" class="small ui blue button">Homepage</a>
      </form>
    </div>
  </div>
</div>
