<!--  List all users except for current_user and current_user's friends\
      then current_user chooses one or more other users to make friends with.-->

<h2 class="main-title">Please choose one or more users to connect</h2>
<br>
<% list = User.all.select { |m| m != current_user && !current_user.friends.include?(m) } %>
<div class="checkbox">
<form class="" action="/users/create_friends" method="post">
  <% list.each do |user| %>
  <input type="checkbox" name="friends[]" value="<%= user.id %>"><%= user.username %><br>
  <% end %>
  <br><br>
  <button type="submit" class="btn btn-info">Create Friends</button>
</form>
</div>
