<!--  List all users except for current_user and current_user's friends\
      then current_user chooses one or more other users to make friends with.-->

<h1>Users Interface:</h1>
<% list = User.all.select { |m| m.id != current_user.id || !current_user.friends.include?(m) } %>
<% list.each do |user| %>
<form class="" action="/users/create_friends" method="post">
  <input type="checkbox" name="friends[]" value="<%= user.id %>"><%= user.username %>
  <input type="submit" name="" value="Create Friends">
</form>
<% end %>
<!-- User.where(id: current_user.id).delete_all -->
