<!--  List all users except for current_user and current_user's friends\
      then current_user chooses one or more other users to make friends with.-->

<h1>Users Interface:</h1>
<% list = User.all.select { |m| m != current_user && !current_user.friends.include?(m) } %>

<form class="" action="/users/create_friends" method="post">
  <% list.each do |user| %>
  <input type="checkbox" name="friends[]" value="<%= user.id %>"><%= user.username %><br>
  <% end %>
  <input type="submit" name="" value="Create Friends">
</form>
