
<h1 class="main-title">The Message Book!</h1><br>
<h2>Where cool people share their interests and secrets.</h2><br>

<h4 class="button">You're one of us? <a href="/login">Log In</a></h4><br>
<h4 class="button">You want to be one of us? <a href="/signup">Sign Up</a></h4>
