<div class='App-body'>
  <div  id='form-login'>
    <img class="center-block" src="https://i.imgur.com/9OOKn1A.jpg?1" alt="Credit: https://mhpmag.com/wp-content/uploads/2018/04/Message-received.jpg" class="img-thumbnail">
    <h1 class="main-title text-info text-center">The Message Book</h1>
    <div class="ui two column centered grid">
      <div class="column">
        <form class="" action="/login" method="post">
          <label for="email" >Email:</label>
          <input id="email" class="form-control" type="text" name="user[email]" value="" required><br>
          <label for="password" >Password:</label>
          <input id="password" class="form-control" type="password" name="user[password]" value="" required><br>

          <% if flash.has?(:error) %>
            <h4 class="alert alert-warning" role="alert"><%= flash[:error]%></h4>
          <% end %>
          <div class="ui center aligned segment basic">
            <button type="submit" class="ui small teal button">Log In</button>
            <a href="/signup" class="small ui blue button">Or, Sign Up</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
